## Control structures 
### BIOINF 575 - Fall 2023

#### DATATYPES RECAP

```
 STRINGS:      "" or    '' or   """""" or   ''''''
 LISTS:        []
 TUPLES:       ()
 DICTIONARIES: {}, the item structure is  key:value
 SETS:         {}, the item structure is value
```

<img src = "https://media.cheatography.com/storage/thumb/desmovalvo_python3-data-structures.750.jpg" width = "600" />


https://cheatography.com/mariofreitas/cheat-sheets/python-basics-lists-tuples-and-dictionaries/
https://www.slideshare.net/gilcohen792/python3-cheatsheet     
https://github.com/leriomaggio/python-in-a-notebook/blob/master/03%20List%20and%20Tuples%20and%20Sets.ipynb

In [2]:
amino_acids = {'Ser': 'Serine', 'Lys': 'Lysine', 'Ala': 'Alanine', 'Leu': 'Leucine'}

To add a new dictionary element - subset the dictionay using the new key and assign the value or use the update function.    
To get all dictionary items use the items method.

In [3]:
amino_acids["Tpr"] = "Tryptophan"

In [4]:
amino_acids

{'Ser': 'Serine',
 'Lys': 'Lysine',
 'Ala': 'Alanine',
 'Leu': 'Leucine',
 'Tpr': 'Tryptophan'}

In [5]:
amino_acids.update({"Tp": "Tpr"})

In [6]:
amino_acids

{'Ser': 'Serine',
 'Lys': 'Lysine',
 'Ala': 'Alanine',
 'Leu': 'Leucine',
 'Tpr': 'Tryptophan',
 'Tp': 'Tpr'}

In [32]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

#### <font color = "red">Exercise</font> 

Return the value for the key = "Ala".   
If it does not exist return an empty string.   
Create an empty set.   
Add the following values to the set: 'Serine', 'Lysine', 'Alanine'.

In [7]:
amino_acids

{'Ser': 'Serine',
 'Lys': 'Lysine',
 'Ala': 'Alanine',
 'Leu': 'Leucine',
 'Tpr': 'Tryptophan',
 'Tp': 'Tpr'}

In [8]:
key = "Ala"
# return the value - use indexing by key
amino_acids[key]

'Alanine'

In [9]:
amino_acids[key+"n"]

KeyError: 'Alan'

In [10]:
# return the value and if not exist return a default value
# use the get method

amino_acids.get(key)

'Alanine'

In [13]:
# returns None
amino_acids.get(key+"n")

In [14]:
amino_acids.get(key+"n", "")

''

In [17]:
# not a set, is a dict
my_set = {}
type(my_set)

dict

In [18]:
# now it is a set
my_set = set()
type(my_set)

set

In [20]:
my_set.add('Serine', 'Lysine', 'Alanine')

TypeError: set.add() takes exactly one argument (3 given)

In [23]:
# use update to add multiple elements from a collection/sequence
my_set.update(('Serine', 'Lysine', 'Alanine'))

In [24]:
my_set

{'Alanine', 'Lysine', 'Serine'}

In [33]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

____________

### Control Structures

**Control Structures** are constructs that **give a block of code context as well as help repeat or selectivelly run it**.

Control Structures control how the associated code works by "wrapping" it within its structure.

Types of control structures:
* Sequential: default mode - execution of statements line by line - like reading a book or following a recipe
* Selection: decisions, branching - allows the distinction between two or more disjunct situations in which different sets of statements should be executed <br>
Selection structures:
    * if &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; - considers additional code on only one branch
    * if-else &emsp; &emsp;&emsp;  - considers two branches
    * if-elif-else &emsp;&nbsp;    - considers three branches
* Repetition: looping - allows the repeatition of a set of statements multiple times <br>
Loop structures:
    * while &emsp;  &emsp;   &emsp; - number of repetitions **unknown**
    * for &emsp;&emsp;&emsp;&emsp;&emsp; - number of repetitions **known**

Selection and repetition statements typically rely on conditions that are evaluated as either true or false.

### if: selection/decision control structure

if statements check specific conditions through the processing of the code <br>
The syntax is as follows:

```python
if [not] <condition>:
    <statements>
elif <condition>:
    <statements>
else:
    <statements>
```

In [1]:
# Comprehensive if-elif-else statement
int_var = 2
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
    
    print("DONE!")

Less than 5

In [3]:
int_var = 20
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
    
print("DONE!")

Equal to or greater than 10
DONE!

In [5]:
int_var = 20
if int_var < 5
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
    
print("DONE!")

SyntaxError: invalid syntax (239481127.py, line 2)

In [7]:
int_var = 20
if int_var < 5:
print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
    
print("DONE!")

IndentationError: expected an indented block (3817448786.py, line 3)

In [13]:
int_var = int(input())
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
    
print("DONE!")

 5

Between 5 and 10
DONE!

#### <font color = "red">Exercise</font>
Write an if statement to check who is the youngest of three people with ages:
age1, age2, age3

In [15]:
age1 = 60
age2 = 50
age3 = 34

if age1 < age2:
    print(age1, "is the lowest age and the first person is the youngest")

In [17]:
age1 = 60
age2 = 50
age3 = 34

if age1 < age2 and age1 < age3:
    print(age1, "is the lowest age and the first person is the youngest")

In [21]:
age1 = 20
age2 = 50
age3 = 34

if age1 < age2 and age1 < age3:
    print(age1, "is the lowest age and the first person is the youngest")

20 is the lowest age and the first person is the youngest

In [24]:
age1 = 20
age2 = 50
age3 = 34

if age1 < age2 and age1 < age3:
    print(age1, "is the lowest age and the first person is the youngest")
elif age2 < age1 and age2 < age3:
        print(age2, "is the lowest age and the second person is the youngest")
    print("test")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [26]:
age1 = 20
age2 = 5
age3 = 34

if age1 < age2 and age1 < age3:
    print(age1, "is the lowest age and the first person is the youngest")
elif age2 < age1 and age2 < age3:
        print(age2, "is the lowest age and the second person is the youngest")
        print("test")

5 is the lowest age and the second person is the youngest
test

In [27]:
age1 = 20
age2 = 50
age3 = 34

if age1 < age2 and age1 < age3:
    print(age1, "is the lowest age and the first person is the youngest")
elif age2 < age1 and age2 < age3:
        print(age2, "is the lowest age and the second person is the youngest")
        print("test")

20 is the lowest age and the first person is the youngest

In [28]:
age1 = 20
age2 = 50
age3 = 3

if age1 < age2 and age1 < age3:
    print(age1, "is the lowest age and the first person is the youngest")
elif age2 < age1 and age2 < age3:
        print(age2, "is the lowest age and the second person is the youngest")
        print("test")

In [29]:
age1 = 20
age2 = 50
age3 = 3

if age1 < age2 and age1 < age3:
    print(age1, "is the lowest age and the first person is the youngest")
elif age2 < age1 and age2 < age3:
        print(age2, "is the lowest age and the second person is the youngest")
        print("test")
else:
    print(age3, "is the lowest age and the third person is the youngest")

3 is the lowest age and the third person is the youngest

In [30]:
age1 = 20
age2 = 15
age3 = 30

if age1 < age2 and age1 < age3:
    print(age1, "is the lowest age and the first person is the youngest")
elif age2 < age1 and age2 < age3:
        print(age2, "is the lowest age and the second person is the youngest")
        print("test")
else:
    print(age3, "is the lowest age and the third person is the youngest")

15 is the lowest age and the second person is the youngest
test

In [31]:
age1 = 2
age2 = 15
age3 = 30

if age1 < age2 and age1 < age3:
    print(age1, "is the lowest age and the first person is the youngest")
elif age2 < age1 and age2 < age3:
        print(age2, "is the lowest age and the second person is the youngest")
        print("test")
else:
    print(age3, "is the lowest age and the third person is the youngest")

2 is the lowest age and the first person is the youngest

In [32]:
age1 = 15
age2 = 15
age3 = 30

if age1 < age2 and age1 < age3:
    print(age1, "is the lowest age and the first person is the youngest")
elif age2 < age1 and age2 < age3:
        print(age2, "is the lowest age and the second person is the youngest")
        print("test")
else:
    print(age3, "is the lowest age and the third person is the youngest")

30 is the lowest age and the third person is the youngest

In [37]:
age1 = 35
age2 = 55
age3 = 35

if age1 <= age2 and age1 <= age3:
    print(age1, "is the lowest age and the first person is the youngest")
elif age2 < age1 and age2 <= age3:
        print(age2, "is the lowest age and the second person is the youngest")
        print("test")
else:
    print(age3, "is the lowest age and the third person is the youngest")

35 is the lowest age and the first person is the youngest

### for: the repetitive control structure with a known number of steps

To loop through a sequence of elements is to iterate

```python
for var in sequence:
    statements
```

* A variable is used to go through each element of the iterable we go through.  
* The variable will take the values of the iterrable elements one by one and then the block of code in the for loop will be executed for each value.
* The code of the for loop - the code to be executed for each element of the iterrable - has to be indented - that is how the interpreter knows where the instructions that it needs to repeat stop

Iterable:  An object capable of returning its members one at a time.     
https://docs.python.org/3/glossary.html    
https://docs.python.org/3/library/collections.abc.html?highlight=iterable#collections.abc.Iterable

In [39]:
# dir(list)

In [40]:
# Print elements of a range
for i in range(3):
    print(i)

0
1
2

In [41]:
# nested loop
for i in range(3):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

In [43]:
# going through list elements
list_var = ["elem1","elem2","elem3"]
for list_elem in list_var:
    print(list_elem)

elem1
elem2
elem3

In [44]:
# using indices
for i in range(len(list_var)):
    print(list_var[i])

elem1
elem2
elem3

In [45]:
for i in range(len(list_var)):
    print(i, list_var[i])

0 elem1
1 elem2
2 elem3

In [46]:
enumerate(list_var)

In [49]:
# get both the index and the element in a tuple using enumerate
list(enumerate(list_var))

[(0, 'elem1'), (1, 'elem2'), (2, 'elem3')]

In [50]:
# use the enumerate function to create pairs of index value
for i, list_elem in enumerate(list_var):
    print(i, list_var[i])

0 elem1
1 elem2
2 elem3

##### Sequence types as well as dictionaries and sets are iterables

In [53]:
# Go through the amino_acids dictionary items

# going through the dictionary goes through the keys only
amino_acids = {'Ser': 'Serine', 'Lys': 'Lysine', 'Ala': 'Alanine', 'Leu': 'Leucine'}
for item in amino_acids:
    print(item)

Ser
Lys
Ala
Leu

In [60]:
amino_acids = {'Ser': 'Serine', 'Lys': 'Lysine', 'Ala': 'Alanine', 'Leu': 'Leucine'}
for item in amino_acids.items():
    print(item)

('Ser', 'Serine')
('Lys', 'Lysine')
('Ala', 'Alanine')
('Leu', 'Leucine')

In [55]:
amino_acids.items()

dict_items([('Ser', 'Serine'), ('Lys', 'Lysine'), ('Ala', 'Alanine'), ('Leu', 'Leucine')])

In [57]:
# unpacking a dictionary item

amino_acids = {'Ser': 'Serine', 'Lys': 'Lysine', 'Ala': 'Alanine', 'Leu': 'Leucine'}
for key,value in amino_acids.items():
    print(key, value)
    if value == "Alanine":
        print("Found Alanine, key is:", key)

Ser Serine
Lys Lysine
Ala Alanine
Found Alanine, key is: Ala
Leu Leucine

#### <font color = "red">Exercise</font> 
Codons are sequences of three nucleotides<br>
Nucleotides are: 'A', 'C', 'G', 'T'<br>
Write code that outputs all possible combinations of codons<br>
Then add a condition to display only the ones that have the group 'AC'

In [61]:
nucleotides = "ACGT"
for nc in nucleotides:
    print(nc)

A
C
G
T

In [62]:
nucleotides = ["A", "C", "G", "T"]
for nc in nucleotides:
    print(nc)

A
C
G
T

In [63]:
nucleotides = ("A", "C", "G", "T")
for nc in nucleotides:
    print(nc)

A
C
G
T

In [64]:
nucleotides = {"A", "C", "G", "T"}
for nc in nucleotides:
    print(nc)

G
C
A
T

In [66]:
nucleotides = ("A", "C", "G", "T")
for nc1 in nucleotides:
    for nc2 in nucleotides:
        print(nc1, nc2)

A A
A C
A G
A T
C A
C C
C G
C T
G A
G C
G G
G T
T A
T C
T G
T T

In [68]:
nucleotides = ("A", "C", "G", "T")
for nc1 in nucleotides:
    print(nc1)
print("--")
for nc2 in nucleotides:
        print(nc2)

A
C
G
T
--
A
C
G
T

In [69]:
print(nc1, nc2)

T T

In [70]:
nucleotides = ("A", "C", "G", "T")
for nc1 in nucleotides:
    for nc2 in nucleotides:
        print(nc1, nc2)

A A
A C
A G
A T
C A
C C
C G
C T
G A
G C
G G
G T
T A
T C
T G
T T

In [73]:
# add the third nuclotide in the codon

nucleotides = ("A", "C", "G", "T")
for nc1 in nucleotides:
    for nc2 in nucleotides:
        for nc3 in nucleotides:
            codon = nc1 + nc2 + nc3
            
codon

'TTT'

In [ ]:
# Then add a condition to display only the ones that have the group 'AC'

In [75]:
nucleotides = ("A", "C", "G", "T")
for nc1 in nucleotides:
    for nc2 in nucleotides:
        for nc3 in nucleotides:
            codon = nc1 + nc2 + nc3
            print(codon)

AAA
AAC
AAG
AAT
ACA
ACC
ACG
ACT
AGA
AGC
AGG
AGT
ATA
ATC
ATG
ATT
CAA
CAC
CAG
CAT
CCA
CCC
CCG
CCT
CGA
CGC
CGG
CGT
CTA
CTC
CTG
CTT
GAA
GAC
GAG
GAT
GCA
GCC
GCG
GCT
GGA
GGC
GGG
GGT
GTA
GTC
GTG
GTT
TAA
TAC
TAG
TAT
TCA
TCC
TCG
TCT
TGA
TGC
TGG
TGT
TTA
TTC
TTG
TTT

In [76]:
nucleotides = ("A", "C", "G", "T")
for nc1 in nucleotides:
    for nc2 in nucleotides:
        for nc3 in nucleotides:
            codon = nc1 + nc2 + nc3
        print(codon)

AAT
ACT
AGT
ATT
CAT
CCT
CGT
CTT
GAT
GCT
GGT
GTT
TAT
TCT
TGT
TTT

In [77]:
nucleotides = ("A", "C", "G", "T")
for nc1 in nucleotides:
    for nc2 in nucleotides:
        for nc3 in nucleotides:
            codon = nc1 + nc2 + nc3
    print(codon)

ATT
CTT
GTT
TTT

In [1]:
nucleotides = ("A", "C", "G", "T")
for nc1 in nucleotides:
    print(codon)
    for nc2 in nucleotides:
        for nc3 in nucleotides:
            codon = nc1 + nc2 + nc3

NameError: name 'codon' is not defined

In [4]:
nucleotides = ("A", "C", "G", "T")
for nc1 in nucleotides:
    for nc2 in nucleotides:
        for nc3 in nucleotides:
            codon = nc1 + nc2 + nc3
            if "AC" in codon:
                print(codon)

AAC
ACA
ACC
ACG
ACT
CAC
GAC
TAC

In [5]:
codon

'TTT'

In [7]:
codons_lst = []
nucleotides = ("A", "C", "G", "T")
for nc1 in nucleotides:
    for nc2 in nucleotides:
        for nc3 in nucleotides:
            codon = nc1 + nc2 + nc3
            if "AC" in codon:
                codons_lst.append(codon)
                print(codons_lst)

['AAC']
['AAC', 'ACA']
['AAC', 'ACA', 'ACC']
['AAC', 'ACA', 'ACC', 'ACG']
['AAC', 'ACA', 'ACC', 'ACG', 'ACT']
['AAC', 'ACA', 'ACC', 'ACG', 'ACT', 'CAC']
['AAC', 'ACA', 'ACC', 'ACG', 'ACT', 'CAC', 'GAC']
['AAC', 'ACA', 'ACC', 'ACG', 'ACT', 'CAC', 'GAC', 'TAC']

In [8]:
codons_lst

['AAC', 'ACA', 'ACC', 'ACG', 'ACT', 'CAC', 'GAC', 'TAC']

In [9]:
len(codons_lst)

8

In [14]:
codons_lst = []
nucleotides = ("A", "C", "G", "T")
for nc1 in nucleotides:
    for nc2 in nucleotides:
        for nc3 in nucleotides:
            codon = nc1 + nc2 + nc3
            codons_lst.append(codon)
            
codons_lst

['AAA',
 'AAC',
 'AAG',
 'AAT',
 'ACA',
 'ACC',
 'ACG',
 'ACT',
 'AGA',
 'AGC',
 'AGG',
 'AGT',
 'ATA',
 'ATC',
 'ATG',
 'ATT',
 'CAA',
 'CAC',
 'CAG',
 'CAT',
 'CCA',
 'CCC',
 'CCG',
 'CCT',
 'CGA',
 'CGC',
 'CGG',
 'CGT',
 'CTA',
 'CTC',
 'CTG',
 'CTT',
 'GAA',
 'GAC',
 'GAG',
 'GAT',
 'GCA',
 'GCC',
 'GCG',
 'GCT',
 'GGA',
 'GGC',
 'GGG',
 'GGT',
 'GTA',
 'GTC',
 'GTG',
 'GTT',
 'TAA',
 'TAC',
 'TAG',
 'TAT',
 'TCA',
 'TCC',
 'TCG',
 'TCT',
 'TGA',
 'TGC',
 'TGG',
 'TGT',
 'TTA',
 'TTC',
 'TTG',
 'TTT']

In [15]:
len(codons_lst)

64

<b>Think of a repetitive case when you could not use a for loop readily</b>

### while: the repetitive control structure with unkown number of steps

loop stopped by a condition

<b>while loops make it easy to cause an 'infinite loop'</b>

```python
while condition:
    statements
```

In [16]:
# while counting steps
step = 1
while step < 10:
    print('Step ' + str(step))
    step = step + 1

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9

In [17]:
print(step)

10

In [18]:
# while I get a value different than the 
# one I am looking for (10) ask for another value 
cond = True
while cond:
    value = int(input()) 
    if value > 10:
        print(value, 'Greater than what I am looking for')
    if value < 10:
        print(value, 'Lower than or equal to what I am looking for')
    cond = (value != 10)

 3

3 Lower than or equal to what I am looking for

 5

5 Lower than or equal to what I am looking for

 40

40 Greater than what I am looking for

 20

20 Greater than what I am looking for

 15

15 Greater than what I am looking for

 10

```python
# Infinite loop
cond = True
while cond:
    print('Infinite loop')
```

In [2]:
""" Infinite loop do not run this
cond = True
while cond:
    print('Infinite loop')
"""

" Infinite loop do not run this\ncond = True\nwhile cond:\n    print('Infinite loop')\n"

#### <font color = "red">Exercise</font> 
Assign a variable sequence_length the value 100 <br>
Substract powers of 2 (2, 4, 8, 16,...)   until the value drops below 0<br>
Print the power of 2 used in the last substraction.

In [4]:
sequence_length = 100
sequence_length = sequence_length - 2
sequence_length = sequence_length - 2*2
sequence_length = sequence_length - 2*2*2
sequence_length

86

In [5]:
sequence_length = 100
sequence_length

100

In [7]:
sequence_length = 100
pow2 = 1
while (sequence_length > 0):
    pow2 = pow2 * 2
    sequence_length = sequence_length - pow2
    
sequence_length, pow2

(-26, 64)

In [11]:
sequence_length = 100
idx = 0
while (sequence_length > 0):
    idx = idx + 1 
    sequence_length = sequence_length - 2 ** idx
    
sequence_length, idx

(-26, 6)

In [8]:
64 + 32 + 16 + 8 + 4 + 2

126

In [9]:
32 + 16 + 8 + 4 + 2

62

In [12]:
100 - (32 + 16 + 8 + 4 + 2)

38

In [13]:
help(str.index)

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [2]:
my_lst = [{1,2,3}, "A", "hello", 20]
my_set = my_lst[0]
my_set.add(20)

In [3]:
my_set

{1, 2, 3, 20}

In [4]:
my_lst[0]

{1, 2, 3, 20}

In [5]:
my_lst

[{1, 2, 3, 20}, 'A', 'hello', 20]

In [7]:
d = {1:"one", 2:"two", 3:"three"}
d[4]

KeyError: 4

In [8]:
d.get(1)

'one'

In [9]:
d.get(4)

In [10]:
print(d.get(4))

None

In [11]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [13]:
d.get(2) + d.get(1)

'twoone'

In [15]:
d.get(4, "") + d.get(1)

'one'

### More control statements

Control statements are special structures that have control behavior. 
They can be represented by a keyword:

```python
pass
break
continue
```

<b>pass: do nothing</b>

In [18]:
value = 20
if value == 20:
    pass

In [17]:
# it is used as placeholder to complete a statement
value = 20
if value == 20:

IndentationError: expected an indented block (2478659983.py, line 5)

In [19]:
value = 200
if value == 20:
    pass
else: 
    print(value)

200

In [21]:
value = 200
if value != 20:
    print(value)

200

<b>break: stops loops

<b>break: allows the user to stop the closest loop</b>

In [22]:
# while break - it already has a condition that stops it but ...
cond = True
i = 0
while cond:
    if i == 3:
        break
    else:
        print(i)
        i = i + 1

0
1
2

In [24]:
i = 0
if i > 0:
    while i >= 1:
        i = i - 1
        print(i)

In [25]:
i = 10
if i > 0:
    while i >= 1:
        i = i - 1
        print(i)

9
8
7
6
5
4
3
2
1
0

In [26]:
# for with a break - kind of makes it a while
for i in range(10):
    if i==3:
        break
    else:
        print(i)

0
1
2

In [19]:
# break affects the closest (for) loop

nucleotides = "ACGT"
for nc1 in nucleotides:
    for nc2 in nucleotides:
        if nc2 == "G":
            break
        else:
            print(nc1,nc2)

A A
A C
C A
C C
G A
G C
T A
T C

<b>continue: just continue looping</b>

Forces the loop to move on to the next item, skipping anything after it (that is in the loop)

In [30]:
# Continue example
for i in range(10):
    if i > 3 and i < 7:
        continue
    else:
        print(i)
    print('This statement gets executed')

0
This statement gets executed
1
This statement gets executed
2
This statement gets executed
3
This statement gets executed
7
This statement gets executed
8
This statement gets executed
9
This statement gets executed

In [20]:
for i in range(10):
    if i <= 3 or i >= 7:
        print(i)
    print('This statement gets executed')

0
This statement gets executed
1
This statement gets executed
2
This statement gets executed
3
This statement gets executed
This statement gets executed
This statement gets executed
This statement gets executed
7
This statement gets executed
8
This statement gets executed
9
This statement gets executed

In [22]:
for i in range(10):
    if i <= 3 or i >= 7:
        print(i)
        print('This statement gets executed')
    x = 20 
    print(x)

0
This statement gets executed
20
1
This statement gets executed
20
2
This statement gets executed
20
3
This statement gets executed
20
20
20
20
7
This statement gets executed
20
8
This statement gets executed
20
9
This statement gets executed
20

In [23]:
for i in range(10):
    if i <= 3 or i >= 7:
        print(i)
        print('This statement gets executed')

0
This statement gets executed
1
This statement gets executed
2
This statement gets executed
3
This statement gets executed
7
This statement gets executed
8
This statement gets executed
9
This statement gets executed

_____________
### Functions

Think of functions like the **recipe of a cake**. They start with a title (definition). They often require some ingredients (arguments). They need step-wise instructions (code). And, at the end, all is put together in a delicious cake (returned data).

Additionally, **functions are the easiest way to be efficiently lazy**.
The code is easier to understand and reusable.

### Function Definition

```python
def function_name(arg1, arg2, darg=None):
    # instructions to compute result
    return result
```

* Each function should have a name. This is declared by using the `def` keyword
* A function doesn't need to have arguments to work
* The collection of arguments for a given function is called a **signature**
* The function works within its own ***scope*** unless it is using something that was passed to it or is global
* `return` statments exit the function while passing on the data
* **Defining a function does not run a function**. 
* To run a function, it must be called using `([args])` after the function name

### Function Call - running a function

```python
function_result = function_name(val1, val2, dval)
```

---
### Function Examples

In [24]:
# A function that does nothing
def do_pass():
    pass

do_pass()

In [25]:
x = do_pass()
print(x)

None

In [26]:
def do_sum():
    return 5 + 3

do_sum()

8

In [28]:
do_sum()

8

In [29]:
# function arguments - internal variables
def do_sum(x, y):
    return x + y

# number and order of arguments is important 
# followed based on the funtion definition
do_sum(5,3)

8

In [30]:
do_sum(4,6)

10

In [31]:
do_sum(y = 3, x = 7)

10

In [32]:
do_sum("test","sum")

'testsum'

In [33]:
# external variables
int_var1 = 10
int_var2 = 20
do_sum(int_var1, int_var2)

30

In [34]:
do_sum(int_var1, int_var3)

NameError: name 'int_var3' is not defined

In [35]:
help(do_sum)

Help on function do_sum in module __main__:

do_sum(x, y)
    # function arguments - internal variables

In [36]:
do_sum(5)

TypeError: do_sum() missing 1 required positional argument: 'y'

In [37]:
# function arguments - internal variables - default values
def do_sum(x = 3, y = 5):
    return x + y

do_sum()

8

In [38]:
do_sum(5)

10

In [39]:
# function arguments - default values
def do_sum(x = 3, y = None):
    if y == None:
        return x
    else:
        return x + y

do_sum(5)

5

#### You can create a function that has any number of unlabeld arguments (*args)
* use * in front of the parameter - it has to be the first parameter in the function
* a tuple will be created with those arguments

In [40]:
# function arguments - default values
def do_sum(*y, x = 3):
    print("y =", y)
    if y == ():
        return x
    else:
        return x + sum(y)

do_sum(3,4,5,x = 5)

y = (3, 4, 5)

17

In [41]:

do_sum(3,4,5, 10, 20,x = 5)

y = (3, 4, 5, 10, 20)

47

In [43]:
print(2,3,4,5)

2 3 4 5

In [44]:
print((2,3,4,5))

(2, 3, 4, 5)

In [45]:
do_sum(y = 6, x = 7)

TypeError: do_sum() got an unexpected keyword argument 'y'

In [46]:
do_sum(6, x = 7)

y = (6,)

13

In [48]:
do_sum(6, 10, x = 7)

y = (6, 10)

23

#### You can create a function that has any number of labeled arguments (**kargs)
* use ** in front of the parameter 
* a dictionary will be created for those labels and values

In [49]:
# function arguments - default values
def do_sum(**y):
    print("y =", y)
    return sum(y.values())

do_sum( a = 3, b = 4, x = 5)

y = {'a': 3, 'b': 4, 'x': 5}

12

In [50]:
def do_sum(**y):
    print("y =", y)
    s = 0
    for val in y.values():
        s = s + val
    return s

do_sum( a = 3, b = 4, x = 5)

y = {'a': 3, 'b': 4, 'x': 5}

12

In [51]:
res = do_sum( a = 3, b = 4, x = 5)

y = {'a': 3, 'b': 4, 'x': 5}

In [52]:
res

12


### Function Scope

To display variable values in a function use print

In [53]:
def do_product():
    var1 = 2
    print("var1 =", var1)
    var2 = 3
    return var1 * var2

do_product()

var1 = 2

6

#### What is defined in a function, is not available outside it

In [54]:
def do_product():
    var1 = 2
    print(var1)
    var2 = 3
    return var1 * var2

do_product()

2

6

In [55]:
print(var1)

NameError: name 'var1' is not defined

In [56]:
var1 = do_product()
var1

2

6

In [ ]:
# string patterns with placeholders
print(f'Value of var1: {var1}')

Can anyone describe scope in their own words?

Let us try to do some shopping

In [ ]:
budget = 100
price = 10

# place order
while (budget >= price):
    print("Orderred an item")
    budget = budget - price
print("DONE")

In [1]:
#recursive function - function that calls itself

def make_order(budget, price):
    print("The budget is now: ", budget)
    if budget>=price:
        print("Orderred an item with price: ", price)
        make_order(budget-price, price)
    else:
        print("DONE")

In [2]:
budget = 100
price = 20
make_order(budget, price)

The budget is now:  100
Orderred an item with price:  20
The budget is now:  80
Orderred an item with price:  20
The budget is now:  60
Orderred an item with price:  20
The budget is now:  40
Orderred an item with price:  20
The budget is now:  20
Orderred an item with price:  20
The budget is now:  0
DONE

In [3]:
# calling a function within the function definition
# that can replace a for loop

# this is an infinite loop - but it doe an error
# there only a limited numer of times a function can call itself
def do_sum():
    do_sum()

In [4]:
do_sum()

RecursionError: maximum recursion depth exceeded

### <font color = "red">Exercise</font>  
Write a function the computes the number of each of the 4 nucleotides ("A","C","G","T") in a given sequence

In [60]:
DNA_seq = "AACGGTTAGT"

def compute_nucleotide_counts(seq):
    counts = {}
    # compute counts
    return counts

compute_nucleotide_counts(seq = DNA_seq)

{}

In [61]:
DNA_seq.count("A")

3

In [64]:
def compute_nucleotide_counts(seq):
    counts = {}
    counts["A"] = seq.count("A")
    counts["C"] = seq.count("C")
    counts["G"] = seq.count("G")
    counts["T"] = seq.count("T")
    return counts

compute_nucleotide_counts(seq = DNA_seq)

{'A': 3, 'C': 1, 'G': 3, 'T': 3}

In [63]:
def compute_nucleotide_counts(seq):
    counts = {}
    nucleotides = "ACGT"
    for nc in nucleotides:
        counts[nc] = seq.count(nc)

    return counts

compute_nucleotide_counts(seq = DNA_seq)

{'A': 3, 'C': 1, 'G': 3, 'T': 3}

In [ ]:
def compute_nucleotide_counts(seq):
    counts = {}
    count_a = 0
    count_c = 0
    count_g = 0
    count_t = 0
    for nc in seq:
        if nc == "A":
            count_a = count_a + 1
        if nc == "C":
            count_c = count_c + 1
        if nc == "G":
            count_g = count_g + 1
        if nc == "T":
            count_t = count_t + 1
    counts["A"] = counts_a
    counts["C"] = counts_c
    counts["G"] = counts_g
    counts["T"] = counts_t
    return counts

compute_nucleotide_counts(seq = DNA_seq)

#### Resources

https://docs.python.org/3/tutorial/controlflow.html
https://web.cs.ucdavis.edu/~koehl/Teaching/ECS15/Lectures/Python_Chapter3.pdf       
https://www.geeksforgeeks.org/python-if-else/?ref=lbp         
https://www.tutorialspoint.com/python/python_decision_making.htm          
https://datacarpentry.org/python-socialsci/03-control-structures/index.html   

https://docs.python.org/3/tutorial/controlflow.html#defining-functions       
https://www.geeksforgeeks.org/python-functions/         
https://www.w3schools.com/python/python_functions.asp        
https://www.tutorialspoint.com/python/python_functions.htm