## SQL - Major SQL commands - sqlite recap and DBeaver and mysql
### BIOINF 575 - Fall 2023

#### Guidelines for database design:

* Normalization is the process of creating or re-arranging data relationships so that it will be easy to store and retrieve data efficiently.  Data is normalized to achieve the following goals: 
    * Eliminate data redundancies and save space 
    * Make it easier to change data 
    * Simplify the enforcement of referential integrity constraints 
    * Produce a design that is a 'good' representation of the real world (one that is intuitively easy to understand and a good base for further growth)

    * Make it easier to change data by avoiding to provide multiple values separated by commas in a column
    * All columns in a table should depend on the primary key, all extra related information should be in other tables linked by foreign keys

https://support.microsoft.com/en-us/help/283878/description-of-the-database-normalization-basics

##### RESOURCES
https://dev.mysql.com/doc/refman/8.0/en/         
https://www.w3schools.com/mysql/mysql_create_table.asp          
https://www.mysqltutorial.org/mysql-sample-database.aspx       
https://www.tutorialspoint.com/mysql/index.htm    
https://realpython.com/python-mysql/

https://dev.mysql.com/doc/refman/8.0/en/examples.html

#### Connect to the database

```mysql your-database-name```

#### Create a table and add data, then select data from the table

```sql
CREATE TABLE shop (
    article INT UNSIGNED  DEFAULT '0000' NOT NULL,
    dealer  CHAR(20)      DEFAULT ''     NOT NULL,
    price   DECIMAL(16,2) DEFAULT '0.00' NOT NULL,
    PRIMARY KEY(article, dealer));

INSERT INTO shop VALUES
    (1,'A',3.45),(1,'B',3.99),(2,'A',10.99),(3,'B',1.45),
    (3,'C',1.69),(3,'D',1.25),(4,'D',19.95);
    
SELECT * FROM shop ORDER BY article;

```


| article   | dealer   | price   |
| --------- |--------  | ------- |
|       1   | A        |  3.45   |
|       1   | B        |  3.99   |
|       2   | A        | 10.99   |
|       3   | B        |  1.45   |
|       3   | C        |  1.69   |
|       3   | D        |  1.25   |
|       4   | D        | 19.95   |

#### Examples of common querries

https://dev.mysql.com/doc/refman/8.0/en/examples.html

In [ ]:
### install pymysql using the following command in a terminal:
# conda install pymysql

In [ ]:
from pymysql import connect

#Create a connection object
conn =connect(host='ensembldb.ensembl.org', user='anonymous',  port=5306, db = "saccharomyces_cerevisiae_core_94_4")

In [ ]:
# May need a password: password = 'password'
# Can request specific database: db = 'database'
# Get a cursor â€“ it sends SQL statements and receives responses
cursor = conn.cursor()
sql = "show tables"
cursor.execute(sql)
for (table_name,) in cursor: 
    print(table_name) 

#Do your queries, work with responses

In [ ]:
select_genes = """
SELECT * 
FROM gene;
"""

cursor.execute(select_genes)
cursor.fetchall()

In [ ]:
cursor.description

In [ ]:
select_genes = """
SELECT gene_id, biotype, is_current
FROM gene
LIMIT 20;
"""

cursor.execute(select_genes)
cursor.fetchall()

In [ ]:
cursor.description

In [ ]:
select_dnaseq = """
SELECT * 
FROM seq_region
LIMIT 20;
"""

cursor.execute(select_dnaseq)
cursor.fetchall()

In [ ]:
cursor.description

In [ ]:
select_dnaseq_syn = """
SELECT * 
FROM seq_region_synonym
LIMIT 20;
"""

cursor.execute(select_dnaseq_syn)
cursor.fetchall()

In [ ]:
cursor.description

In [ ]:
# Clean up - do this when done with the database
curs.close()
conn.close()

### Using custom objects together with SQL
### sqlalchemy

#### We will follow the tutorial here:
    
https://docs.sqlalchemy.org/en/14/orm/tutorial.html#version-check

In [ ]:
### pip install SQLAlchemy

In [ ]:
import sqlalchemy

In [ ]:
sqlalchemy.__version__

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///:memory:", echo=True)

In [ ]:
from sqlalchemy.orm import declarative_base
Base = declarative_base()

In [ ]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = "users"

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

    def __repr__(self):
         return "<User(name='%s', fullname='%s', nickname='%s')>" % (
             self.name,
             self.fullname,
             self.nickname,
         )

In [ ]:
User.__table__

In [ ]:
# A notebook with a full example will be posted for this.