## Control structures 
### BIOINF 575 - Fall 2022

#### DATATYPES RECAP

```
 STRINGS:      "" or    '' or   """""" or   ''''''
 LISTS:        []
 TUPLES:       ()
 DICTIONARIES: {}, the item structure is  key:value
 SETS:         {}, the item structure is value
```

<img src = "https://media.cheatography.com/storage/thumb/desmovalvo_python3-data-structures.750.jpg" width = "600" />


https://cheatography.com/mariofreitas/cheat-sheets/python-basics-lists-tuples-and-dictionaries/
https://www.slideshare.net/gilcohen792/python3-cheatsheet
https://github.com/leriomaggio/python-in-a-notebook/blob/master/03%20List%20and%20Tuples%20and%20Sets.ipynb

In [1]:
amino_acids = {'Ser': 'Serine', 'Lys': 'Lysine', 'Ala': 'Alanine', 'Leu': 'Leucine'}

To add a new dictionary element - subset the dictionay using the new key and assign the value or use the update function.
To get all dictionary items use the items method.

In [2]:
amino_acids["new_aa"] = "New amino acid"

In [3]:
amino_acids

{'Ser': 'Serine',
 'Lys': 'Lysine',
 'Ala': 'Alanine',
 'Leu': 'Leucine',
 'new_aa': 'New amino acid'}

In [4]:
amino_acids.items()

dict_items([('Ser', 'Serine'), ('Lys', 'Lysine'), ('Ala', 'Alanine'), ('Leu', 'Leucine'), ('new_aa', 'New amino acid')])

In [5]:
amino_acids.items()[0]

TypeError: 'dict_items' object is not subscriptable

In [8]:
list(amino_acids.items())

[('Ser', 'Serine'),
 ('Lys', 'Lysine'),
 ('Ala', 'Alanine'),
 ('Leu', 'Leucine'),
 ('new_aa', 'New amino acid')]

In [9]:
list(amino_acids.items())[0]

('Ser', 'Serine')

#### <font color = "red">Exercise</font> 

Return the value for the key = "Ala".   
If it does not exist return an empty string.   
Create an empty set.   
Add the following values to the set: 'Serine', 'Lysine', 'Alanine'.

In [10]:
# Return the value for the key = "Ala".
# If it does not exist return an empty string.

amino_acids["Ala"]

'Alanine'

In [11]:
amino_acids

{'Ser': 'Serine',
 'Lys': 'Lysine',
 'Ala': 'Alanine',
 'Leu': 'Leucine',
 'new_aa': 'New amino acid'}

In [12]:
amino_acids["Al"]

KeyError: 'Al'

In [13]:
amino_acids.get("Ala", "")

'Alanine'

In [14]:
amino_acids.get("Aa", "")

''

In [16]:
amino_acids.get("Al", set())

set()

In [17]:
amino_acids.get("Al", ["This is what I want to return if key is not there"])

['This is what I want to return if key is not there']

In [ ]:
# Create an empty set.

In [18]:
type({})

dict

In [22]:
aa_set = set()

In [23]:
# Add the following values to the set: 'Serine', 'Lysine', 'Alanine'.

In [24]:
aa_set.update('Serine', 'Lysine', 'Alanine')

In [25]:
aa_set

{'A', 'L', 'S', 'a', 'e', 'i', 'l', 'n', 'r', 's', 'y'}

In [28]:
aa_set.update('Serine', 'Lysine', 'Alanine', ["elem1", "elem2"])
aa_set

{'A', 'L', 'S', 'a', 'e', 'elem1', 'elem2', 'i', 'l', 'n', 'r', 's', 'y'}

In [29]:
aa_set[0]

TypeError: 'set' object is not subscriptable

In [30]:
aa_set = set()

In [31]:
aa_set.update(('Serine', 'Lysine', 'Alanine'), ["xx"])

In [32]:
aa_set

{'Alanine', 'Lysine', 'Serine', 'xx'}

In [33]:
aa_set.add("elem3")

In [34]:
aa_set

{'Alanine', 'Lysine', 'Serine', 'elem3', 'xx'}

In [35]:
aa_set.add("elem3", "elem5")

TypeError: set.add() takes exactly one argument (2 given)

In [36]:
aa_set

{'Alanine', 'Lysine', 'Serine', 'elem3', 'xx'}

In [37]:
aa_set.pop()

'Serine'

In [38]:
set.pop?

Docstring:
Remove and return an arbitrary set element.
Raises KeyError if the set is empty.
Type:      method_descriptor

In [39]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [40]:
aa_set

{'Alanine', 'Lysine', 'elem3', 'xx'}

In [41]:
aa_set.remove("Lysine")

In [42]:
aa_set

{'Alanine', 'elem3', 'xx'}

____________

### Control Structures

**Control Structures** are constructs that **give a block of code context as well as help repeat or selectivelly run it**.

Control Structures control how the associated code works by "wrapping" it within its structure.

Types of control structures:
* Sequential: default mode - execution of statements line by line - like reading a book or following a recipe
* Selection: decisions, branching - allows the distinction between two or more disjunct situations in which different sets of statements should be executed <br>
Selection structures:
    * if &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; - considers additional code on only one branch
    * if-else &emsp; &emsp;&emsp;  - considers two branches
    * if-elif-else &emsp;&nbsp;    - considers three branches
* Repetition: looping - allows the repeatition of a set of statements multiple times <br>
Loop structures:
    * while &emsp;  &emsp;   &emsp; - number of repetitions **unknown**
    * for &emsp;&emsp;&emsp;&emsp;&emsp; - number of repetitions **known**

Selection and repetition statements typically rely on conditions that are evaluated as either true or false.

### if: selection/decision control structure

if statements check specific conditions through the processing of the code <br>
The syntax is as follows:

```python
if [not] <condition>:
    <statements>
elif <condition>:
    <statements>
else:
    <statements>
```

In [43]:
# Comprehensive if-elif-else statement
int_var = 20
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

Equal to or greater than 10

In [44]:
# Comprehensive if-elif-else statement
int_var = 20
if int_var < 5:
print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

IndentationError: expected an indented block (2359320876.py, line 4)

In [45]:
# Comprehensive if-elif-else statement
int_var = 20
if int_var < 5
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

SyntaxError: invalid syntax (3553727629.py, line 3)

In [51]:
# Comprehensive if-elif-else statement
int_var = 20
if int_var < 5:
 print("Less than 5")
 print("First branch")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
    print("Third branch")

Equal to or greater than 10
Third branch

In [53]:
int_var = 2
if int_var < 5:
 print("Less than 5")
 print("First branch")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
print("This is not part of the if statement")

Less than 5
First branch
This is not part of the if statement

In [54]:
int_var = 2
if int_var < 5:
 print("Less than 5")
 print("First branch")
elif int_var < 10:
    print("Between 5 and 10")
elif in_var < 50:
    print("Between 10 and 50")
else:
    print("Equal to or greater than 50")

print("This is not part of the if statement")

Less than 5
First branch
This is not part of the if statement

In [56]:
int_var = 25
if int_var < 5:
 print("Less than 5")
 print("First branch")
elif int_var < 10:
    print("Between 5 and 10")
elif int_var < 50:
    print("Between 10 and 50")
else:
    print("Equal to or greater than 50")

print("This is not part of the if statement")

Between 10 and 50
This is not part of the if statement

#### <font color = "red">Exercise</font>
Write an if statement to check who is the youngest of three people with ages:
age1, age2, age3

In [60]:
age1 = 40
age2 = 50
age3 = 34

In [61]:
if age1 < age2:
    print("Youngest person is person 1 with age:", age1)

Youngest person is person 1 with age: 40

In [70]:
if (age1 < age2) and (age1 < age3):
    print("Youngest person is person 1 with age:", age1)

In [69]:
# if using & use parantheses for the condition

if (age1 < age2) & (age1 < age3):
    print("Youngest person is person 1 with age:", age1)

In [71]:
if (age1 < age2):
    if (age1 < age3):
        print("Youngest person is person 1 with age:", age1)

In [67]:
age1 = 20
age2 = 5
age3 = 34

if min(age1, age2, age3) == age1:
    print(age1)
elif min(age1, age2, age3) == age2:
    print(age2)

5

In [72]:
age1 = 20
age2 = 5
age3 = 34

min_val = min(age1, age2, age3)
if min_val == age1:
    print(age1)
elif min_val == age2:
    print(age2)

5

In [74]:
age1 = 20
age2 = 5
age3 = 34

if (age1 < age2) and (age1 < age3):
    print("Youngest person is person 1 with age:", age1)
elif (age2 < age1) and (age2 < age3):
    print("Youngest person is person 2 with age:", age2)

Youngest person is person 2 with age: 5

In [75]:
if (age1 < age2) and (age1 < age3):
    print("Youngest person is person 1 with age:", age1)
elif (age1 < age2) and (age2 < age3):
    print("Youngest person is person 2 with age:", age2)

In [80]:
age1 = 20
age2 = 35
age3 = 100

if (age1 < age2) and (age1 < age3):
    print("Youngest person is person 1 with age:", age1)
elif (age2 < age1) and (age2 < age3):
    print("Youngest person is person 2 with age:", age2)
else:
        print("Youngest person is person 3 with age:", age3)

Youngest person is person 1 with age: 20

In [83]:
age1 = 20
age2 = 35
age3 = 100

cond1 =  (age1 < age2) and (age1 < age3)

if cond1:
    print("Youngest person is person 1 with age:", age1)
elif (age2 < age1) and (age2 < age3):
    print("Youngest person is person 2 with age:", age2)
else:
        print("Youngest person is person 3 with age:", age3)

Youngest person is person 1 with age: 20

In [84]:
if a = 5:
    print("Testing assignment")

SyntaxError: invalid syntax (2923819844.py, line 1)

In [85]:
if 5:
    print("Testing assignment")

Testing assignment

### for: the repetitive control structure with a known number of steps

To loop through a sequence of elements is to iterate

```python
for var in sequence:
    statements
```

* A variable is used to go through each element of the iterable we go through.  
* The variable will take the values of the iterrable elements one by one and then the block of code in the for loop will be executed for each value.
* The code of the for loop - the code to be executed for each element of the iterrable - has to be indented - that is how the interpreter knows where the instructions that it needs to repeat stop

Iterable:  An object capable of returning its members one at a time.
https://docs.python.org/3/glossary.html
https://docs.python.org/3/library/collections.abc.html?highlight=iterable#collections.abc.Iterable

In [86]:
range(3)

range(0, 3)

In [87]:
list(range(3))

[0, 1, 2]

In [88]:
ll_obj = range(3)

In [89]:
next(ll_obj)

TypeError: 'range' object is not an iterator

In [95]:
ll_obj = iter(range(3))

In [96]:
next(ll_obj)

0

In [97]:
# Print elements of a range
for i in range(3):
    print(i)

0
1
2

In [100]:
## do not do this - it is confusing to change 
# the variable you are iterating with in the for loop
for i in range(3):
    print(i)
    print("Hello")
    i = 60
    print(i)

0
Hello
60
1
Hello
60
2
Hello
60

In [101]:
# nested loop
for i in range(3):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

In [103]:
list_var = ["elem1","elem2","elem3"]
for list_elem in list_var:
    print(list_elem)

elem1
elem2
elem3

In [105]:
# do not do this
list_var = ["elem1","elem2","elem3"]
for list_elem in list_var:
    list_elem = list_elem + " x"
    print(list_elem)
    
list_var

elem1 x
elem2 x
elem3 x

['elem1', 'elem2', 'elem3']

In [107]:
for i in range(len(list_var)):
    print(i)
    print(list_var[i])

0
elem1
1
elem2
2
elem3

In [109]:
for i in range(len(list_var)):
    print(i)
    
print(list_var[i])

0
1
2
elem3

In [112]:
for i in range(len(list_var)):
    print("Hello")
print(i)
    print(list_var[i])

IndentationError: unexpected indent (1913526373.py, line 4)

In [118]:
ll_obj = enumerate(list_var)
ll_obj

In [119]:
next(ll_obj)

(0, 'elem1')

In [120]:
list(ll_obj)

[(1, 'elem2'), (2, 'elem3')]

In [121]:
ll_obj = enumerate(list_var)
list(ll_obj)

[(0, 'elem1'), (1, 'elem2'), (2, 'elem3')]

In [122]:
a, b = (0, 'elem1')
print(a)
print(b)

0
elem1

In [123]:
# use the enumerate function to create pairs of index value
for i, list_elem in enumerate(list_var):
    print(i, list_var[i])

0 elem1
1 elem2
2 elem3

In [125]:
for i, list_elem in enumerate(list_var):
    print(i, list_elem)

0 elem1
1 elem2
2 elem3

##### Sequence types as well as dictionaries and sets are iterables

In [126]:
# Go through the amino_acids dictionary items

amino_acids

{'Ser': 'Serine',
 'Lys': 'Lysine',
 'Ala': 'Alanine',
 'Leu': 'Leucine',
 'new_aa': 'New amino acid'}

In [129]:
for key in amino_acids:
    print(key)

Ser
Lys
Ala
Leu
new_aa

In [130]:
for key in amino_acids.keys():
    print(key)

Ser
Lys
Ala
Leu
new_aa

In [131]:
for value in amino_acids.values():
    print(value)

Serine
Lysine
Alanine
Leucine
New amino acid

In [133]:
for item in amino_acids.items():
    print(item)

('Ser', 'Serine')
('Lys', 'Lysine')
('Ala', 'Alanine')
('Leu', 'Leucine')
('new_aa', 'New amino acid')

In [132]:
amino_acids.items()

dict_items([('Ser', 'Serine'), ('Lys', 'Lysine'), ('Ala', 'Alanine'), ('Leu', 'Leucine'), ('new_aa', 'New amino acid')])

In [134]:
for key, val in amino_acids.items():
    print(key)
    print(val)

Ser
Serine
Lys
Lysine
Ala
Alanine
Leu
Leucine
new_aa
New amino acid

#### <font color = "red">Exercise</font> 
Codons are sequences of three nucleotides<br>
Nucleotides are: 'A', 'C', 'G', 'T'<br>
Write code that outputs all possible combinations of codons<br>
Then add a condition to display only the ones that have the group 'AC'

In [ ]:
# "AAA","AAC","AAG".....

In [135]:
nucleotides = {'A', 'C', 'G', 'T'}

In [140]:
for nc in nucleotides:
    print(nc + nc)

AA
GG
TT
CC

In [141]:
for nc1 in nucleotides:
    for nc2 in nucleotides:
        print(nc1 + nc2)

AA
AG
AT
AC
GA
GG
GT
GC
TA
TG
TT
TC
CA
CG
CT
CC

In [142]:
for nc1 in nucleotides:
    print("nc1 = ", nc1)
    for nc2 in nucleotides:
        print(nc1 + nc2)

nc1 =  A
AA
AG
AT
AC
nc1 =  G
GA
GG
GT
GC
nc1 =  T
TA
TG
TT
TC
nc1 =  C
CA
CG
CT
CC

In [143]:
for nc1 in nucleotides:
    print("nc1 = ", nc1)
    for nc2 in nucleotides:
        print("nc2 = ", nc2)
        for nc3 in nucleotides:
            print(nc1 + nc2 + nc3)

nc1 =  A
nc2 =  A
AAA
AAG
AAT
AAC
nc2 =  G
AGA
AGG
AGT
AGC
nc2 =  T
ATA
ATG
ATT
ATC
nc2 =  C
ACA
ACG
ACT
ACC
nc1 =  G
nc2 =  A
GAA
GAG
GAT
GAC
nc2 =  G
GGA
GGG
GGT
GGC
nc2 =  T
GTA
GTG
GTT
GTC
nc2 =  C
GCA
GCG
GCT
GCC
nc1 =  T
nc2 =  A
TAA
TAG
TAT
TAC
nc2 =  G
TGA
TGG
TGT
TGC
nc2 =  T
TTA
TTG
TTT
TTC
nc2 =  C
TCA
TCG
TCT
TCC
nc1 =  C
nc2 =  A
CAA
CAG
CAT
CAC
nc2 =  G
CGA
CGG
CGT
CGC
nc2 =  T
CTA
CTG
CTT
CTC
nc2 =  C
CCA
CCG
CCT
CCC

In [150]:
codon_list = []
for nc1 in nucleotides:
    # print("nc1 = ", nc1)
    for nc2 in nucleotides:
        # print("nc2 = ", nc2)
        for nc3 in nucleotides:
            # print("nc3 = ", nc3)
            codon_list.append(nc1 + nc2 + nc3)
print(codon_list)

['AAA', 'AAG', 'AAT', 'AAC', 'AGA', 'AGG', 'AGT', 'AGC', 'ATA', 'ATG', 'ATT', 'ATC', 'ACA', 'ACG', 'ACT', 'ACC', 'GAA', 'GAG', 'GAT', 'GAC', 'GGA', 'GGG', 'GGT', 'GGC', 'GTA', 'GTG', 'GTT', 'GTC', 'GCA', 'GCG', 'GCT', 'GCC', 'TAA', 'TAG', 'TAT', 'TAC', 'TGA', 'TGG', 'TGT', 'TGC', 'TTA', 'TTG', 'TTT', 'TTC', 'TCA', 'TCG', 'TCT', 'TCC', 'CAA', 'CAG', 'CAT', 'CAC', 'CGA', 'CGG', 'CGT', 'CGC', 'CTA', 'CTG', 'CTT', 'CTC', 'CCA', 'CCG', 'CCT', 'CCC']

In [146]:
codon_list

['AAA',
 'AAG',
 'AAT',
 'AAC',
 'AGA',
 'AGG',
 'AGT',
 'AGC',
 'ATA',
 'ATG',
 'ATT',
 'ATC',
 'ACA',
 'ACG',
 'ACT',
 'ACC',
 'GAA',
 'GAG',
 'GAT',
 'GAC',
 'GGA',
 'GGG',
 'GGT',
 'GGC',
 'GTA',
 'GTG',
 'GTT',
 'GTC',
 'GCA',
 'GCG',
 'GCT',
 'GCC',
 'TAA',
 'TAG',
 'TAT',
 'TAC',
 'TGA',
 'TGG',
 'TGT',
 'TGC',
 'TTA',
 'TTG',
 'TTT',
 'TTC',
 'TCA',
 'TCG',
 'TCT',
 'TCC',
 'CAA',
 'CAG',
 'CAT',
 'CAC',
 'CGA',
 'CGG',
 'CGT',
 'CGC',
 'CTA',
 'CTG',
 'CTT',
 'CTC',
 'CCA',
 'CCG',
 'CCT',
 'CCC']

In [152]:
codon_list = []
for nc1 in nucleotides:
    # print("nc1 = ", nc1)
    for nc2 in nucleotides:
        # print("nc2 = ", nc2)
        for nc3 in nucleotides:
            # print("nc3 = ", nc3)
            codon = nc1 + nc2 + nc3
            if "AC" in codon:
                codon_list.append(codon)
print(codon_list)

['AAC', 'ACA', 'ACG', 'ACT', 'ACC', 'GAC', 'TAC', 'CAC']

In [137]:
from itertools import permutations
list(permutations(nucleotides, 3))

[('A', 'G', 'T'),
 ('A', 'G', 'C'),
 ('A', 'T', 'G'),
 ('A', 'T', 'C'),
 ('A', 'C', 'G'),
 ('A', 'C', 'T'),
 ('G', 'A', 'T'),
 ('G', 'A', 'C'),
 ('G', 'T', 'A'),
 ('G', 'T', 'C'),
 ('G', 'C', 'A'),
 ('G', 'C', 'T'),
 ('T', 'A', 'G'),
 ('T', 'A', 'C'),
 ('T', 'G', 'A'),
 ('T', 'G', 'C'),
 ('T', 'C', 'A'),
 ('T', 'C', 'G'),
 ('C', 'A', 'G'),
 ('C', 'A', 'T'),
 ('C', 'G', 'A'),
 ('C', 'G', 'T'),
 ('C', 'T', 'A'),
 ('C', 'T', 'G')]

In [138]:
help(permutations)

Help on class permutations in module itertools:

class permutations(builtins.object)
 |  permutations(iterable, r=None)
 |
 |  Return successive r-length permutations of elements in the iterable.
 |
 |  permutations(range(3), 2) --> (0,1), (0,2), (1,0), (1,2), (2,0), (2,1)
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  __sizeof__(...)
 |      Returns size in memory, in bytes.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

<b>Think of a repetitive case when you could not use a for loop readily</b>

### while: the repetitive control structure with unkown number of steps

loop stopped by a condition

<b>while loops make it easy to cause an 'infinite loop'</b>

```python
while condition:
    statements
```

In [153]:
# while counting steps
step = 1
while step < 10:
    print('Step ' + str(step))
    step = step + 1

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9

```python

# infinite loop
step = 1
while step < 10:
    print('Step ' + str(step))
    
```

In [156]:
# while I get a value different than the 
# one I am looking for (10) ask for another value 
cond = True
while cond:
    value = int(input()) 
    if value > 10:
        print(value, 'Greater than what I am looking for')
    if value < 10:
        print(value, 'Lower than or equal to what I am looking for')
    cond = (value != 10)

 5

5 Lower than or equal to what I am looking for

 40

40 Greater than what I am looking for

 10

```python
# Infinite loop
cond = True
while cond:
    print('Infinite loop')
```

#### <font color = "red">Exercise</font> 
Assign a variable sequence_length the value 100 <br>
Substract powers of 2 (2, 4, 8, 16,...)   until the value drops below 0<br>
Print the power of 2 used in the last substraction.

In [157]:
sequence_length = 100

In [158]:
cond = True
while cond:
    print("Add statements here")
    cond = False ## expression

Add statements here

In [159]:
cond = sequence_length > 0
while cond:
    print(sequence_length)
    sequence_length = sequence_length - 2
    cond = sequence_length > 0 ## expression

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [161]:
sequence_length = 100
while sequence_length > 0:
    print(sequence_length)
    sequence_length = sequence_length - 2

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [164]:
sequence_length = 100
power2 = 1
while sequence_length > 0:
    print(sequence_length)
    sequence_length = sequence_length - 2**power2
    print("power2 = ", power2)
    power2 = power2 + 1  # power2 += 1

100
power2 =  1
98
power2 =  2
94
power2 =  3
86
power2 =  4
70
power2 =  5
38
power2 =  6

In [165]:
print(sequence_length)

-26

### More control statements

Control statements are special structures that have control behavior. 
They can be represented by a keyword:

```python
pass
break
continue
```

<b>pass: do nothing</b>

In [166]:
pass

In [168]:
value = 25
if value == 20:
    pass

In [169]:
value = 20
if value == 20:
    pass

In [170]:
value = 25
if value == 20:

IndentationError: expected an indented block (2993352550.py, line 3)

<b>break: stops loops

<b>break: allows the user to stop the closest loop</b>

In [171]:
# while break - it already has a condition that stops it but ...
cond = True
i = 0
while cond:
    if i == 3:
        break
    else:
        print(i)
        i = i + 1

0
1
2

In [172]:
i = 0
while i != 3:
        print(i)
        i = i + 1

0
1
2

In [173]:
# for break - kind of makes it a while
for i in range(10):
    if i==3:
        break
    else:
        print(i)

0
1
2

In [174]:
for i in range(10):
    for j in range(10):
        if j == 4:
            break
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 3
5 0
5 1
5 2
5 3
6 0
6 1
6 2
6 3
7 0
7 1
7 2
7 3
8 0
8 1
8 2
8 3
9 0
9 1
9 2
9 3

<b>continue: just continue looping</b>

Forces the loop to move on to the next item, skipping anything after it (that is in the loop)

In [175]:
# Continue example
for i in range(10):
    if i > 3 and i < 7:
        continue
    else:
        print(i)
    print('This statement gets executed')

0
This statement gets executed
1
This statement gets executed
2
This statement gets executed
3
This statement gets executed
7
This statement gets executed
8
This statement gets executed
9
This statement gets executed

_____________
### Functions

Think of functions like the **recipe of a cake**. They start with a title (definition). They often require some ingredients (arguments). They need step-wise instructions (code). And, at the end, all is put together in a delicious cake (returned data).

Additionally, **functions are the easiest way to be efficiently lazy**.
The code is easier to understand and reusable.

### Function Definition

```python
def function_name(arg1, arg2, darg=None):
    # instructions to compute result
    return result
```

* Each function should have a name. This is declared by using the `def` keyword
* A function doesn't need to have arguments to work
* The collection of arguments for a given function is called a **signature**
* The function works within its own ***scope*** unless it is using something that was passed to it or is global
* `return` statments exit the function while passing on the data
* **Defining a function does not run a function**. 
* To run a function, it must be called using `([args])` after the function name

### Function Call - running a function

```python
function_result = function_name(val1, val2, dval)
```

---
### Function Examples

In [1]:
# A function that does nothing
# define the function
def do_pass():
    pass

# call the function
do_pass()

In [2]:
res = do_pass()
print(res)

None

In [5]:
def do_sum():
    print("in the function")
    return 5 + 3
    print("after return")
    xx = 2
    print(xx)

do_sum()

in the function

8

In [6]:
# function arguments - internal variables
def do_sum(x, y):
    return x + y

# number and order of arguments is important 
# followed based on the function definition
do_sum(5,3)

8

In [7]:
do_sum(4,6)

10

In [8]:
do_sum(y = 3, x = 7)

10

In [10]:
def do_difference(x, y):
    return x - y

In [11]:
do_difference(3,7)

-4

In [12]:
do_difference(y = 3, x = 7)

4

In [13]:
do_sum("test","sum")

'testsum'

In [14]:
do_sum(4,"A")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# external variables
int_var1 = 10
int_var2 = 20
do_sum(int_var1, int_var2)

30

In [16]:
do_sum(5)

TypeError: do_sum() missing 1 required positional argument: 'y'

In [17]:
# function arguments - internal variables - default values
# function definition
def do_sum(x = 3, y = 5):
    return x + y

# function call
do_sum()

8

In [19]:
do_sum(6)

11

In [20]:
# function definition
def do_sum(x = 3, y = 5):
    print("x = ", x)
    print("y = ", y)
    return x + y

In [21]:
do_sum(12)

x =  12
y =  5

17

In [22]:
do_sum(y = 40)

x =  3
y =  40

43

In [23]:
# function arguments - default values
def do_sum(x = 3, y = None):
    if y == None:
        return x
    else:
        return x + y

do_sum(5)

5

In [24]:
def do_sum(x = 3, y):
    print("x = ", x)
    print("y = ", y)
    return x + y

SyntaxError: non-default argument follows default argument (3721445398.py, line 1)

In [25]:
def do_sum(y, x = 3):
    print("x = ", x)
    print("y = ", y)
    return x + y

In [26]:
do_sum(60)

x =  3
y =  60

63

In [27]:
do_sum(60, 50)

x =  50
y =  60

110

In [28]:
do_sum(x = 10)

TypeError: do_sum() missing 1 required positional argument: 'y'

In [29]:
do_sum(x = 10, y = 2)

x =  10
y =  2

12

In [32]:
do_sum(5,6,10)

TypeError: do_sum() takes from 1 to 2 positional arguments but 3 were given

In [31]:
print(3,"A", [3,4,5])

3 A [3, 4, 5]

#### You can create a function that has any number of unlabeld arguments (*args)
* use * in front of the parameter - it has to be the first parameter in the function
* a tuple will be created with those arguments

In [33]:
# function arguments - default values
def do_sum(*y, x = 3):
    print("y =", y)
    if y == ():
        return x
    else:
        return x + sum(y)

do_sum(3,4,5,x = 5)

y = (3, 4, 5)

17

In [34]:
do_sum(6,3,8,10,20)

y = (6, 3, 8, 10, 20)

50

In [36]:
dict(A = 6, BC = 70, X = "last element", j = "this is j")

{'A': 6, 'BC': 70, 'X': 'last element', 'j': 'this is j'}

#### You can create a function that has any number of labeled arguments (**kargs)
* use ** in front of the parameter 
* a dictionary will be created for those labels and values

In [37]:
# function arguments - default values
def do_sum(**y):
    print("y =", y)
    return sum(y.values())

do_sum( a = 3, b = 4, x = 5)

y = {'a': 3, 'b': 4, 'x': 5}

12

In [39]:
# check the value of specific arguments 
# can be done easily only if you have the argument name 

def do_sum(**y):
    print("y =", y)
    if y["b"] == 4:
        print("b is 4")
    return sum(y.values())

do_sum( a = 3, b = 4, x = 5)

y = {'a': 3, 'b': 4, 'x': 5}
b is 4

12

In [40]:
def do_sum(**y):
    print("y =", y)
    s = 0
    for val in y.values():
        s = s + val
    return s

do_sum( a = 3, b = 4, x = 5)

y = {'a': 3, 'b': 4, 'x': 5}

12

In [43]:
def do_sum(**y):
    print("y =", y)
    s = 0
    for key, value in y.items():
        # print(key,value)
        if key != "a":
            s = s + value
    return s

do_sum( a = 3, b = 4, x = 5)

y = {'a': 3, 'b': 4, 'x': 5}

9


### Function Scope

To display variable values in a function use print

In [44]:
def do_product():
    var1 = 2
    print("var1 =", var1)
    var2 = 3
    return var1 * var2

do_product()

var1 = 2

6

#### What is defined in a function, is not available outside it

In [46]:
def do_product():
    var1 = 2
    print("var1:", var1)
    var2 = 3
    print("var2:", var2)
    return var1 * var2

do_product()

var1: 2
var2: 3

6

In [47]:
print(var1)

NameError: name 'var1' is not defined

In [48]:
var1 = do_product()
var1

var1: 2
var2: 3

6

In [49]:
# string patterns with placeholders
print(f'Value of var1: {var1}')

Value of var1: 6

In [52]:
global_var = 10

In [54]:
def do_difference():
    return global_var - 1

do_difference()

9

In [55]:
def do_difference():
    global_var = 100
    return global_var - 1

do_difference()

99

In [57]:
%whos

Variable        Type        Data/Info
-------------------------------------
do_difference   function    <function do_difference at 0x7fba7038c4c0>
do_pass         function    <function do_pass at 0x7fba51b6c550>
do_product      function    <function do_product at 0x7fba40d265e0>
do_sum          function    <function do_sum at 0x7fba40d26dc0>
global_var      int         10
int_var1        int         10
int_var2        int         20
res             NoneType    None
var1            int         6

In [58]:
def do_difference():
    x = global_var + 200
    global_var = 100
    return global_var - 1

do_difference()

UnboundLocalError: local variable 'global_var' referenced before assignment

Can anyone describe scope in their own words?

Let us try to do some shopping

In [ ]:
# 1 1 2 3 5 8 ... sum of last two

In [59]:
budget = 100
price = 10

# place order
while (budget >= price):
    print("Orderred an item")
    budget = budget - price
print("DONE")

Orderred an item
Orderred an item
Orderred an item
Orderred an item
Orderred an item
Orderred an item
Orderred an item
Orderred an item
Orderred an item
Orderred an item
DONE

In [60]:
budget = 100
price = 10

# place order
while (budget >= price):
    print(budget)
    budget = budget - price
print("DONE")

100
90
80
70
60
50
40
30
20
10
DONE

In [61]:
#recursive function - function that calls itself

def make_order(budget, price):
    print("The budget is now: ", budget)
    if budget>=price:
        print("Orderred an item with price: ", price)
        make_order(budget-price, price)
    else:
        print("DONE")

In [62]:
budget = 100
price = 20
make_order(budget, price)

The budget is now:  100
Orderred an item with price:  20
The budget is now:  80
Orderred an item with price:  20
The budget is now:  60
Orderred an item with price:  20
The budget is now:  40
Orderred an item with price:  20
The budget is now:  20
Orderred an item with price:  20
The budget is now:  0
DONE

In [67]:
def make_order(budget, price):
    # print("The budget is now: ", budget)
    if budget>=price:
        # print("Orderred an item with price: ", price)
        return budget
        make_order(budget-price, price)
    else:
         return "DONE"

In [68]:
budget = 100
price = 20
res = make_order(budget, price)
print(res)

100

In [74]:
# compute n factorial - product of all numbers 1 to n

def factorial(n):
    if n == 1:
        return 1
    else:
        print(n)
        return n * factorial(n - 1)

In [75]:
factorial(4)

4
3
2

24

### <font color = "red">Exercise</font>  
Write a function that computes the number of each of the 4 nucleotides ("A","C","G","T") in a given sequence

In [77]:
seq = "AACGTTA"

In [79]:
(seq.count("A"), seq.count("C"))

(3, 1)

In [81]:
{"A" :seq.count("A"), "C": seq.count("C")}

{'A': 3, 'C': 1}

In [82]:
nucleotides = ("A", "C", "G", "T")
for nc in nucleotides:
    print(nc)

A
C
G
T

In [83]:
nucleotides = ("A", "C", "G", "T")
for nc in nucleotides:
    print({nc: seq.count(nc)})

{'A': 3}
{'C': 1}
{'G': 1}
{'T': 2}

In [84]:
nucleotides = ("A", "C", "G", "T")
counts_nc = {}
for nc in nucleotides:
    counts_nc[nc] = seq.count(nc)
    
counts_nc

{'A': 3, 'C': 1, 'G': 1, 'T': 2}

In [86]:
def count_nucleotides(seq_local):
    nucleotides = ("A", "C", "G", "T")
    counts_nc = {}
    for nc in nucleotides:
        counts_nc[nc] = seq_local.count(nc)
    
    return counts_nc

In [87]:
seq = "AACGTTA"
count_nucleotides(seq)

{'A': 3, 'C': 1, 'G': 1, 'T': 2}

In [ ]:
seq = "AACGTTA"

In [89]:
def count_ACGT(sequence):
    return sequence

count_ACGT(seq)

'AACGTTA'

In [90]:
def count_ACGT(sequence):
    count_d = {}
    return count_d

count_ACGT(seq)

{}

In [91]:
def count_ACGT(sequence):
    count_d = {}
    count_d["A"] = sequence.count("A")
    return count_d

count_ACGT(seq)

{'A': 3}

In [93]:
def count_ACGT(sequence):
    count_d = {}
    nuclotides = ("A", "C", "G", "T")
    for nc in nucleotides:
        count_d[nc] = sequence.count(nc)
    return count_d

count_ACGT(seq)

{'A': 3, 'C': 1, 'G': 1, 'T': 2}

In [94]:
test_list = [1,2,3,4]

def change_list(local_list):
    local_list.append(10)

In [95]:
change_list(test_list)

In [96]:
test_list

[1, 2, 3, 4, 10]

In [97]:
def change_list(local_list):
    local_var = local_list.copy()
    local_var.append(78)
    return local_var

In [98]:
change_list(test_list)

[1, 2, 3, 4, 10, 78]

In [99]:
test_list

[1, 2, 3, 4, 10]

#### Resources

https://docs.python.org/3/tutorial/controlflow.html
https://web.cs.ucdavis.edu/~koehl/Teaching/ECS15/Lectures/Python_Chapter3.pdf       
https://www.geeksforgeeks.org/python-if-else/?ref=lbp         
https://www.tutorialspoint.com/python/python_decision_making.htm          
https://datacarpentry.org/python-socialsci/03-control-structures/index.html   

https://docs.python.org/3/tutorial/controlflow.html#defining-functions       
https://www.geeksforgeeks.org/python-functions/         
https://www.w3schools.com/python/python_functions.asp        
https://www.tutorialspoint.com/python/python_functions.htm